body{
  background-color: #B31312;
}
.container{
  display: flex;
  justify-content: center;
}
h1, h2{
  color:#FAF6F0;
  font-family: 'Lora', serif;
}
button {
background-color: #EEF5FF;
color: #AF2655;
border: none;
margin-top: 20px;
padding: 10px;
}



